@font-face {
  font-family: 'Oleo Script';
  src: url('https://fonts.gstatic.com/s/oleoscript/v5/_weQNDK6Uf40CiGFKBBUjogp9Q8gbYrhqGlRav_IXfk.woff2') format('woff2');
}
@font-face {
  font-family: 'Poiret One';
  src: url('https://fonts.gstatic.com/s/poiretone/v4/HrI4ZJpJ3Fh0wa5ofYMK8QzyDMXhdD8sAj6OAJTFsBI.woff2') format('woff2');
}
.main-heading{
	font-family: Poiret One;
	font-size: 40px;
}


.primary-text {
background-color: #03c09b;
color: white;
text-align: center;
height: 100px;
font-size: 28px;
padding: 0px 200px;
}

.contact-wrapper{
text-align: center;
}
.contact-wrapper, .subheader-msg, .primary-text {
	font-family: Oleo Script;
}
footer{
	background-color: grey;
	color: white;
	text-align: center;
	padding: 30px 0px;
}
.site-header{
	background-image: url("../img/header-background.jpg");
	height: 35vw;
	width: 100vw;
	background-repeat: no-repeat;
	background-position: center center;
}
ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	justify-content: space-around;
}
li img {
	height: 20vw;
	width: 20vw;
}
.logo{
	background-image: url('../img/logo.png');
	background-size: 22vw 40vh;
	background-repeat: no-repeat;
	height: 20vw;
	width: 37vh;
	filter: invert(100%);
	position: absolute;
	top: 40px;
	left: 70%;
}
h1,h2{
	color: white;
}
.divider{
	width: 70%;
}
.site-header{
	text-align: center;
}
.header-wrapper{
	padding-top: 23vh;
}
